.header-contact-panel{
    display: flex;
    position: relative;
    z-index: 3;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.066);
}

.input-contact-panel{
    border: none;
    outline: none;
    background-color: transparent;
}