.background-login{
    background: linear-gradient(to bottom, #2351c7, rgb(16, 67, 154), #2351c7, rgb(16, 67, 154), #2351c7);
}

.login{
    background-color: rgba(17, 23, 69, 0.17);
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.066);
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.442);
    border-radius: 7px;
}

.img-login{
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
    filter: invert(100%);
}

.input-login{
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.input-login::placeholder{
    color: #ffffff;
}

.button-login{
    background-color: #18a7ff;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    width: 50%;
    padding: 8px;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.button-login:hover{
    background-color: #2351c7;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    width: 50%;
    padding: 8px;
    font-weight: 800;
    letter-spacing: 0.05em;
}
