.message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 25%;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.175);
}
.chat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 75%;
    background-color: #f9fafb;
    position: relative;
    z-index: 1;
}