.background-register{
    background: #eaeaea;
}

.register{
    background-color: rgb(242, 242, 242);
    width: 500px;
    height: 900px;
    border-radius: 10px;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.105);
}

.input-containers-register{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.066);
}

.img-register{
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
}

.img-title-register{
    width: 46px;
    height: 46px;
}

.img-purple{
    filter: invert(17%) sepia(90%) saturate(6000%) hue-rotate(270deg) brightness(80%) contrast(95%);
}

.input-register{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #000000;
}

.input-register::placeholder{
    color: #000000;
}

.button-register{
    background-color: #7b32ef;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 14px;
    font-weight: 800;
    letter-spacing: 0.05em;
    box-shadow: 1px 2px 8px rgba(14, 14, 14, 0.286);
}

.button-login:hover{
    background-color: #4f2d86;
}
